#frame
  #page_title
    %h1 Groups
  #main
    %section#list-index
      %ul.list
        - if @groups.present?
          - @groups.each do |group|
            %li{id: "#{group['_id']}"}
              %ul
                - group['refs'].each do |ref|
                  %li= "#{ref['adapter']}: #{ref['id']}, #{ref['status']}"
            %a{href: "#{group['_id']}"} View
        -else
          %li Unable to collect groups at this time.
