#frame
  #page_title
    %h1="Group: Create New"
  #main
    .alert
      .success.masshide{:'rv-show' => 'ui:groupRefNotice'}
      .error.masshide{:'rv-show' => 'ui:groupRefError'}
        %span.masshide{:'rv-show' => 'ui:badRefError'}
          Some of references you provided were invalid. Please delete broken adapters and try again
  %form{action: 'Post', url: ''}
    %table{id: 'ref_view'}
      %thead
        %tr
          %th.adapter Adapter
          %th.adapter_id ID
          %th.adapter_status Status
          %th.adapter_actions Actions
      %tbody
        %tr{:'rv-each-ref' => 'group:refs'}
          %td.adapter { ref.adapter }
          %td.adapter_id{:'rv-text' => 'ref.id'}
          %td.adapter_status { ref.status }
          %td.adapter_actions
            %input.button.danger{type: 'submit', value: 'Delete', :'rv-on-click' => "ui.deleteRef"}
        %tr{:'rv-hide' => "adapters:free | isEmpty"}
          %td.adapter
            %select#addRefAdapterSelect
              %option{:'rv-each-adapter' => "adapters:free", :'rv-value' => 'adapter'} {adapter | humanize}
          %td.adapter_id
            %input#addRefValue{type: 'text'}
          %td.adapter_status
            %p{:'rv-show' => 'ui.addRefError'}
          %td.adapter_actions
            %input.button{type: 'submit', value: 'Add', :'rv-on-click' => "ui.addRef"}
  %section{id: 'group_control'}
    %input.button.save{type: 'submit', value: 'Save Group', :'rv-on-click' => "ui.saveGroup"}






:javascript
  var baked = {
    eagleID: undefined,
    eagleServer: "#{ENV['EAGLE_SERVER']}",
    user: {
      id: "#{current_user.present? ? current_user.id : '1'}",
      email: "#{current_user.present? ? current_user.email : 'none'}",
      role: "#{current_user.present?  ? current_user.role : 'guest'}"
    },
    claims: #{@claims.to_json}
  }
%script{:type=>"text/javascript", src: '../javascripts/lodash.min.js'}
%script{:type=>"text/javascript", src: '../javascripts/backbone.js'}
%script{:type=>"text/javascript", src: '../javascripts/rivets.min.js'}
%script{:type=>"text/javascript", src: '../javascripts/rivets_config.js'}
%script{:type=>"text/javascript", src: '../javascripts/groups.js'}
%script{:type=>"text/javascript", src: '../javascripts/group_new.js'}

