#frame
  #page_title
    %h1 {cache:name | backupdID}
    -if current_user.present?
      %section{id: 'claim_group'}
        %input.button{type: 'submit', value: 'Claim Group', :'rv-on-click' => "ui.claimGroup", :'rv-hide' => 'ui:hasClaim'}
  #main
    .alert
      .info.success.masshide{:'rv-show' => 'ui:groupClaimNotice'}
        %p.masshide{:'rv-show' => 'ui:groupClaimMade'}
          You claim has been submited and will be reviewed by and admin
    %table{id: 'claims_control', :"rv-show" => 'ui:isOwner'}
      %thead
        %tr
          %th.claimiant Claimiant
          %th.claimiant_status Status
          %th.claimiant_actions Change
      %tbody
        %tr{:'rv-each-claim' => "claims:"}
          %td.claimiant { claim:user_email }
          %td.claimiant_status { claim:status }
          %td.claimiant_actions
            %input.button{type: 'submit', value: 'Accept', :'rv-on-click' => "ui.acceptClaim"}
            %input.button.danger{type: 'submit', value: 'Reject', :'rv-on-click' => "ui.rejectClaim"}

    %section{id: 'consolidated_cache_view'}
      %table#consolidated_name
        %thead
          %tr
            %th.empty
            %th.field Name
            %th.empty
        %tbody
          %tr{:'rv-each-attr' => "cache:_meta | getAttributes name", :'rv-class-highlight' => "attr.preferred"}
            %td.source{:'rv-text' => "attr.source"}
            %td.value{:'rv-text' =>  "attr.value"}
            %td.preferred{:"rv-show" => 'ui:isOwner'}
              %p{:'rv-show' => "attr.preferred"} Prefered
              %input.button{type: 'submit', :'rv-on-click' => "ui.setPref | preventDefault | bind name", value: "Select", :'rv-hide' => "attr.preferred | checkLoginHide "}

        %table#consolidated_description
          %thead
            %tr
              %th.empty
              %th.field Description
              %th.empty
          %tbody
            %tr{:'rv-each-attr' => "cache:_meta | getAttributes description", :'rv-class-highlight' => "attr.preferred"}
              %td.source{:'rv-text' => "attr.source"}
              %td.value{:'rv-text' =>  "attr.value | truncate 200"}
              %td.preferred{:"rv-show" => 'ui:isOwner'}
                %p{:'rv-show' => "attr.preferred"} Prefered 
                %input.button{type: 'submit', :'rv-on-click' => "ui.setPref | preventDefault | bind description", value: "Select", :'rv-hide' => "attr.preferred | checkLoginHide "}

        %table#consolidated_website
          %thead
            %tr
              %th.empty
              %th.field Website
              %th.empty
          %tbody
            %tr{:'rv-each-attr' => "cache:_meta | getAttributes website", :'rv-class-highlight' => "attr.preferred"}
              %td.source{:'rv-text' => "attr.source"}
              %td.value
                %a{:'rv-href' =>  "attr.value", :'rv-text' =>  "attr.value" }
              %td.preferred{:"rv-show" => 'ui:isOwner'}
                %p{:'rv-show' => "attr.preferred"} Prefered
                %input.button{type: 'submit', :'rv-on-click' => "ui.setPref | preventDefault | bind website", value: "Select", :'rv-hide' => "attr.preferred | checkLoginHide "}

        %table#consolidated_tags
          %thead
            %tr
              %th.empty
              %th.field Tags
              %th.empty
          %tbody
            %tr{:'rv-each-attr' => "cache:_meta | getAttributes tags", :'rv-class-highlight' => "attr.preferred"}
              %td.source{:'rv-text' => "attr.source"}
              %td.value{:'rv-text' =>  "attr.value | stringify"}
              %td.preferred{:"rv-show" => 'ui:isOwner'}
                %p{:'rv-show' => "attr.preferred"} Prefered
                %input.button{type: 'submit', :'rv-on-click' => "ui.setPref | preventDefault | bind tags", value: "Select", :'rv-hide' => "attr.preferred | checkLoginHide "}

        %table#consolidated_location
          %thead
            %tr
              %th.empty
              %th.field Location
              %th.empty
          %tbody
            %tr{:'rv-each-attr' => "cache:_meta | getAttributes location", :'rv-class-highlight' => "attr.preferred"}
              %td.source{:'rv-text' => "attr.source"}
              %td.value{:'rv-text' =>  "attr.value | asAddress"}
              %td.preferred{:"rv-show" => 'ui:isOwner'}
                %p{:'rv-show' => "attr.preferred"} Prefered
                %input.button{type: 'submit', :'rv-on-click' => "ui.setPref | preventDefault | bind location", value: "Select", :'rv-hide' => "attr.preferred | checkLoginHide "}

        %table#consolidated_image
          %thead
            %th.empty
            %th.field Image
            %th.empty
          %tbody
            %tr{:'rv-each-attr' => "cache:_meta | getAttributes image", :'rv-class-highlight' => "attr.preferred"}
              %td.source{:'rv-text' => "attr.source"}
              %td.value{:'rv-text' =>  "attr.value"} FFF
              %td.preferred{:'rv-show' => 'ui:isOwner'}
                %p{:'rv-show' => "attr.preferred"} Prefered
                %input.button{type: 'submit', :'rv-on-click' => "ui.setPref | preventDefault | bind image", value: "Select", :'rv-hide' => "attr.preferred | checkLoginHide "}
    .alert
      .success.masshide{:'rv-show' => 'ui:groupRefNotice'}
        %p.info.masshide{:'rv-show' => 'ui:groupUpdated'}
          This group has been updated!
      .error.masshide{:'rv-show' => 'ui:groupError'}
        %p.masshide{:'rv-show' => 'ui:badRefError'}
          Some of references you provided were invalid. Please delete broken adapters and try again

    %form{action: 'Post', url: ''}
      %table{id: 'ref_view'}
        %thead
          %tr
            %th.adapter Adapter
            %th.adapter_id ID
            %th.adapter_status Status
            %th.adapter_actions{:"rv-show" => 'ui:isOwner'} Actions
        %tbody
          %tr{:'rv-each-ref' => 'group:refs'}
            %td.adapter { ref.adapter }
            %td.adapter_id{:'rv-text' => 'ref.id'}
            %td.adapter_status { ref.status }
            %td.adapter_actions{:"rv-show" => 'ui:isOwner'}
              %input.button.danger{type: 'submit', value: 'Delete', :'rv-on-click' => "ui.deleteRef"}
          %tr{:"rv-show" => 'adapters.showRefForm < :hasFree'}
            %td.adapter
              %select#addRefAdapterSelect
                %option{:'rv-each-adapter' => "adapters:free", :'rv-value' => 'adapter'} {adapter | humanize}
            %td.adapter_id
              %input#addRefValue{type: 'text'}
            %td.adapter_status
              %p{:'rv-show' => 'ui.addRefError'}
            %td.adapter_actions
              %input.button{type: 'submit', value: 'Add', :'rv-on-click' => "ui.addRef"}

    -if current_user.present?
      %section{id: 'group_control'}
        %input.button{type: 'submit', value: 'Clear Cache', :'rv-on-click' => "ui.clearCache"}
        %input.button.danger{type: 'submit', value: 'Delete Group', :'rv-on-click' => "ui.deleteGroup", :"rv-show" => 'ui:isOwner'}

:javascript
  var baked = {
    eagleID: "#{params[:id]}",
    eagleServer: "#{ENV['EAGLE_SERVER']}",
    user: {
      id: "#{current_user.present? ? current_user.id : '1'}",
      email: "#{current_user.present? ? current_user.email : 'none'}",
      role: "#{current_user.present?  ? current_user.role : 'guest'}"
    },
    claims: #{@claims.to_json}
  }
%script{:type=>"text/javascript", src: '../javascripts/lodash.min.js'}
%script{:type=>"text/javascript", src: '../javascripts/backbone.js'}
%script{:type=>"text/javascript", src: '../javascripts/rivets.min.js'}
%script{:type=>"text/javascript", src: '../javascripts/rivets_config.js'}
%script{:type=>"text/javascript", src: '../javascripts/groups.js'}
%script{:type=>"text/javascript", src: '../javascripts/group_show.js'}
