#frame
  #page_title
    %h1="Group: #{params[:id]}"
  #main
    .flash
      .notice{:'rv-show' => 'ui:groupRefNotice'}
      .alert{:'rv-show' => 'ui:groupRefError'}
        %span{:'rv-show' => 'ui:badRefError'}
          Some of references you provided were invalid. Please delete broken adapters and try again

    %section{id: 'ref_view'}
      %h3 Refs
      %table
        %tr
          %th Adapter
          %th ID
          %th Status
          %th Actions
        %tr{:'rv-each-ref' => 'group:refs'}
          %td { ref.adapter }
          %td
            %span{:'rv-text' => 'ref.id'}
          %td { ref.status }
          %td
            %input{type: 'submit', value: 'Delete', :'rv-on-click' => "ui.deleteRef"}
      %form{action: 'Post', url: 'whatever',  :"rv-show" => 'ui:isOwner'}
        %fieldset
          %p{:'rv-show' => 'ui.addRefError'} Error, Pick an adapter
          %select#addRefAdapterSelect
            %option{value: 'facebook'} Facebook
            %option{value: 'meetup'} Meetup
            %option{value: 'mockingbird'} Mockingbird
          %input#addRefValue{type: 'text'}
          %input{type: 'submit', value: 'Add', :'rv-on-click' => "ui.addRef"}
    .flash{:'rv-show' => 'ui:groupControlFlash'}
      .notice{:'rv-show' => 'ui:groupControlNotice'}
        %p{:'rv-show' => 'ui:groupControlClaimMade'}You claim has been submited and will be reviewed by and admin
      .error{:'rv-show' => 'ui:groupControlError'}
    %section{id: 'group_control'}
      %input{type: 'submit', value: 'Save Group (No Workie)', :'rv-on-click' => "ui.saveGroup", :"rv-show" => 'ui:isOwner'}
      %input{type: 'submit', value: 'Delete Group', :'rv-on-click' => "ui.deleteGroup", :"rv-show" => 'ui:isOwner'}
      %input{type: 'submit', value: 'Claim Group', :'rv-on-click' => "ui.claimGroup", :'rv-hide' => 'ui:hasClaim'}
      %input{type: 'submit', value: 'Clear Cache', :'rv-on-click' => "ui.clearCache"}
    %section{id: 'claims_control', :"rv-show" => 'ui:isOwner'}
      %table
        %tr
          %td Claimiant
          %td Status
          %td Change
        %tr{:'rv-each-claim' => "claims:"}
          %td { claim:user_id }
          %td { claim:status }
          %td
            %input{type: 'submit', value: 'Accept', :'rv-on-click' => "ui.acceptClaim"}
            %input{type: 'submit', value: 'Reject', :'rv-on-click' => "ui.rejectClaim"}
    %section{id: 'consolidated_cache_view'}
      %table
        %tr
          %th Field
          %th Data
        %tr#consolidated_name
          %td Name
          %td
            %table
              %tr{:'rv-each-attr' => "cache:_meta | getAttributes name"}
                %td{:'rv-text' =>  "attr.value"}
                %td{:'rv-text' => "attr.source"}
        %tr#consolidated_description
          %td Description
          %td
            %table
              %tr{:'rv-each-attr' => "cache:_meta | getAttributes description"}
                %td{:'rv-text' =>  "attr.value | truncate 200"}
                %td{:'rv-text' => "attr.source"}
        %tr#consolidated_website
          %td Website
          %td
            %table
              %tr{:'rv-each-attr' => "cache:_meta | getAttributes website"}
                %td
                  %a{:'rv-src' =>  "attr.value", :'rv-text' =>  "attr.value" }
                %td{:'rv-text' => "attr.source"}
        %tr#consolidated_tags
          %td Tags
          %td
            %table
              %tr{:'rv-each-attr' => "cache:_meta | getAttributes tags"}
                %td{:'rv-text' =>  "attr.value | stringify"}
                %td{:'rv-text' => "attr.source"}
        %tr#consolidated_location
          %td Location
          %td
            %table
              %tr{:'rv-each-attr' => "cache:_meta | getAttributes location"}
                %td{:'rv-text' =>  "attr.value | asAddress"}
                %td{:'rv-text' => "attr.source"}
        %tr#consolidated_image
          %td Image
          %td
            %table
              %tr{:'rv-each-attr' => "cache:_meta | getAttributes image"}
                %td{:'rv-text' =>  "attr.value"}
                %td{:'rv-text' => "attr.source"}



:javascript
  var baked = {
    eagleID: "#{params[:id]}",
    user: {
      id: "#{current_user.present? ? current_user.id : '1'}",
      email: "#{current_user.present? ? current_user.email : 'none'}",
      role: "#{current_user.present?  ? current_user.role : 'guest'}"
    },
    claims: #{@claims.to_json}
  }
%script{:type=>"text/javascript", src: '../javascripts/lodash.min.js'}
%script{:type=>"text/javascript", src: '../javascripts/backbone.min.js'}
%script{:type=>"text/javascript", src: '../javascripts/rivets.min.js'}
%script{:type=>"text/javascript", src: '../javascripts/rivets_config.js'}
%script{:type=>"text/javascript", src: '../javascripts/groups.js'}
%script{:type=>"text/javascript", src: '../javascripts/group_show.js'}
